@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=New+Rocker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    cursor: none !important;
  }

  body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    background-color: #000; /* opsional biar glow lebih kelihatan */
  }

  html {
    scroll-behavior: smooth;
  }

  h1, h2, h3 {
    font-family: 'New Rocker', cursive;
    color: #fff; /* warna putih */
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #aaa; /* efek glow */
  }
}
